@import "tailwindcss";

:root {
  /* --color-primary: # ;
  --color-secondary: # ;
  --color-background: # ;
  --color-text: # ;

  --font-primary: ;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
